body{
    background-color: black;
}

div{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

img{
    width: 100%;
    border: 5px solid white;
    margin-top: 30px;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    /* text-align: center; */
    unicode-bidi: isolate;

}

p{
    color: white;

}