<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HTML form</title>
    </head>
    <body>
        <h1>It Works</h1>
        <form action="/login" method="post">
            <label for="name">Name</label>
            <input type="text" placeholder="name" name="username">
            <label for="password">Password</label>
            <input type="text" placeholder="password" name="password">
            <button type="submit">OK</button>
        </form>
    </body>
</html>


