/* body{
    background-color: blueviolet;
} */


body {

    background-color: red;
} 



/* body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; } */